// main colors
$base-backgrd: #1A1A1A;
$base-text-color: #FFFFFF;
$dark-color: #000000;
$grey-color: #8C8C8C;

// sizes
$base-font-size: 16px;
$text-block-width: 280px;

$xl-rectangle-width: 600px;
$lg-rectangle-width: 400px;
$md-rectangle-width: 300px;
$sm-rectangle-width: 200px;

$lg-rectangle-height: 700px;
$md-rectangle-height: 400px;
$sm-rectangle-height: 300px;
$section-height: 800px;