// form & thanks outer
.popup-outer {
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100); // height for full display
  min-height: 500px;
  background-color: rgba(26, 26, 26, 0.9);

  &--inactive,
  &--active {
    display: flex;
  }

  &--inactive {
    animation: fadeOutPopup ease 0.7s forwards;
    animation-delay: 0.5s;
  }

  &--active {
    animation: fadeInPopup ease 0.7s forwards;

    .popup-request {
      &__outer {
        &::before {
          animation: addCirBackgrd 1s linear forwards;
          animation-delay: 0.5s;
        }
      }
    }
  }

  &--thanks {
    .popup-request {
      animation: fadeOutPopup ease 0.5s forwards;

      &__outer {
        height: 450px;
      }
    }

    .thanks {
      display: flex;
      animation: fadeInPopup ease 0.5s forwards;
      animation-delay: 0.7s;

      &::before {
        animation: addCirBackgrd 1s linear forwards;
        animation-delay: 0.5s;
      }
    }
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 13;
  min-width: 14px;
  min-height: 14px;
  cursor: pointer;

  &__line {
    display: flex;
    width: 100%;

    &-dote {
      width: 2px;
      height: 2px;
      background-color: $grey-color;
      transition: $text-hover-trans;
    }

    &:nth-child(1),
    &:nth-child(3) {
      justify-content: space-between;
    }

    &:nth-child(2) {
      justify-content: center;
      margin: 4px 0;
    }
  }

  &:hover {
    .close-btn__line-dote {
      background-color: $base-text-color;
      transform: scale(1.2);
      transition: $text-hover-trans;
    }
  }
}

// form styles
.popup-request,
.thanks {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;

  &__ttl {
    @include adapted-font(36, 30);

    z-index: 1;
    margin-bottom: 35px;
    font-weight: 400;
    letter-spacing: 0.6;
  }

  &__btn {
    z-index: 1;
    margin-top: 50px;
    background-color: $base-text-color;
  }
}

.popup-request {
  display: flex;

  &__outer {
    position: relative;
    z-index: 11;
    overflow: hidden;
    width: 600px;
    height: 600px;
    background-color: transparent;

    &::before {
      @include pseudo;

      left: -50%;
      top: -50%;
      z-index: 0;
      border-radius: 100%;
      width: 0;
      height: 0;
      background-color: $dark-color;
      animation: removeCirBackgrd 2s linear forwards;
    }

    @include mq("tablet") {
      width: 100%;
      height: 500px;
    }
  }

  &__itm {
    border: 0;
    border-radius: 0;
    padding: 12px;
    width: 360px;
    box-shadow: none;
    letter-spacing: 1.2px;
    text-align: center;
    color: $base-text-color;
    background-color: transparent;
    user-select: text;

    &::placeholder {
      line-height: 55px;
      color: $grey-color;
    }

    &-outer {
      position: relative;
      background-color: transparent;

      &::after {
        @include pseudo;

        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $grey-color;
        transform: translate(-50%, 0);
        transition: $text-hover-trans;
      }

      &:hover {
        &::after {
          width: 100%;
          transition: $text-hover-trans;
        }
      }

      &:nth-child(3) {
        margin: 25px 0;
      }

      &--active {
        &::after {
          width: 100%;
          background-color: $base-text-color;
          transition: $text-hover-trans;
        }
      }
    }

    @include mq("tablet-small") {
      width: 300px;
    }
  }
}

.input-change {
  &::after {
    width: 100%;
    background-color: $grey-color;
    transition: $text-hover-trans;
  }
}

.thanks {
  z-index: 0;
  display: none;
  opacity: 0;
  visibility: hidden;

  &__txt {
    z-index: 1;
    margin-top: 25px;
    margin-bottom: 10px;
    color: $grey-color;
  }
}

// functions anim

@keyframes fadeInPopup {
  0% {
    opacity: 0;
  }

  100% {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOutPopup {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes addCirBackgrd {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 200%;
    height: 200%;
  }
}

@keyframes removeCirBackgrd {
  0% {
    width: 200%;
    height: 200%;
  }

  100% {
    width: 0;
    height: 0;
  }
}