@import 'forms';
@import 'active&inactive';

// tittles & text
h1 {
  font-size: 66px;
  color: $base-text-color;
  font-family: ShreeDev0714;
  font-weight: 400;
}
h2 {
  color: $grey-color;
  font-weight: 300;
  font-size: $base-font-size;
  letter-spacing: 1.2px;
}
h3 {
  margin-top:15px;
  margin-bottom: 25px;
  line-height: 50px;
  font-family: ShreeDev0714;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2.7px;
}
.txt-content {
  line-height: 26px;
  margin-bottom:20px;
}

// elements
.pic-rectangle-container {
  position: relative;
}
.pic-rectangle {
  object-fit: cover;
  display: block;
  &--sm {
    width: $sm-rectangle-width;
    height: $sm-rectangle-height;
  }
  &--md {
    width: $md-rectangle-width;
    height: $md-rectangle-height;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
  }
  &--lg {
    width: $xl-rectangle-width;
    height: $lg-rectangle-height;
  }
}
.line-lnk {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $base-text-color;
  line-height: 8px;
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $base-text-color;
    margin-right: 10px;
  }
}

.main-logo {
  font-family: Exo2;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.circle-el {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  line-height: 100px;
  box-shadow: none;
}

.navigation {
  &__lst {
    display: flex;
    &-line {
        list-style-type: none;
        &:nth-child(2) {
            margin:0 30px;
        }
        &:nth-child(3) {
            margin-right: 30px;
        }
        &-lnk {
          
        }
        
    }
  } 
}
.txt-block {
  max-width: $text-block-width;
}
.product-card {
  &__lnk {
    width: $md-rectangle-width;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: none;
    &-pic {
      width: 100%;
      height: $md-rectangle-height;
      object-fit: cover;;
    }
    &-ttl {
      text-align: right; 
    }
  }
}

.info-card {
  width: $lg-rectangle-width;
  height: $lg-rectangle-height;
  position: absolute;
  right:20px;
  &__content {
    height: 100%;
    width: 100%;
    background-color: $dark-color;
    padding: 40px;
  }
  .txt-content {
    width: 280px;
    height: 350px;
  } 
}

.blur-line {
  height: 0px;
  position: absolute;
  left: -100px;right: -100px;
  background-color: $dark-color;
  box-shadow: 0px 0px 65px 65px rgba(0,0,0,1);
  z-index: 2;
}


.cursor {
  position: fixed;
  border-radius: 50%;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5;
  opacity: .9;
  font-size: 0;
  animation: 0.7s forwards decrease, 0.1s linear 0s forwards removeText;
  &--dark, &--light {
    display: block;
    animation: 0.7s forwards increase, 0.1s linear 0.5s forwards addText;
  }
  &--dark {
    color: $base-text-color;
    background-color: $dark-color;
  }
  &--light {
    color: $dark-color;
    background-color: $base-text-color;
  }
  &--active {
    animation: 0.7s forwards decrease, 0.1s linear 0s forwards removeText;
  }
  &--inactive {
    animation: 0.7s forwards increase, 0.1s linear 0.5s forwards addText;
  }
  @keyframes decrease { 
    from {width: 100px; height: 100px;} 
    to { width: 20px; height: 20px;} 
  };
  @keyframes increase { 
    from {width: 20px; height: 20px;} 
    to { width: 100px; height: 100px;} 
  };
  @keyframes removeText { 
    from {font-size: $base-font-size;} 
    to { font-size: 0;} 
  };
  @keyframes addText { 
    from {font-size: 0;} 
    to { font-size: $base-font-size;} 
  };
} 

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: radial-gradient(#CECECE, #fff);
	display: flex;
	justify-content: center;
  align-items: center;
  filter: invert(100%);
  &__el {
    width: 150px;
    height: 150px;
    margin: auto;
	  border-radius: 100%;
	  background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
    position: relative;
    &-loader {
      position: relative;
      .main-logo {
        width: 100%;
        text-align: center;
         color: $dark-color;
         line-height: 150px;
         padding-left: 1rem;
         font-display: optional;
      }
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-bottom: 0 solid #ffffff05;
        box-shadow: 
          0 -10px 20px 20px #ffffff40 inset,
          0 -5px 15px 10px #ffffff50 inset,
          0 -2px 5px #ffffff80 inset,
          0 -3px 2px #ffffffBB inset,
          0 2px 0px #ffffff,
          0 2px 3px #ffffff,
          0 5px 5px #ffffff90,
          0 10px 15px #ffffff60,
          0 10px 20px 20px #ffffff40;
        filter: blur(3px);
        animation: 2s rotate linear infinite;
      }
      @keyframes rotate {
        100% {
          transform: rotate(360deg)
        }
      }
    }
  }
  &--hidden {
    animation: 2s fadeOut ease-in-out forwards;
    .preloader__el {
      animation: 1s decrease linear forwards;
    }
    @keyframes decrease {
      100% {
        transform: scale(0)
      }
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility:hidden;
    }
  }
}
