@import 'state-classes';
@import 'forms&popus';

// tittles & text
h1 {
  //font-size: 66px;
  color: $base-text-color;
  font-family: ShreeDev0714;
  font-weight: 400;
  @include adapted-font(66, 56);
}
h2 {
  color: $grey-color;
  font-weight: 300;
  font-size: $base-font-size;
  letter-spacing: 1.2px;
}
h3 {
  margin-top:15px;
  margin-bottom: 25px;
  line-height: 50px;
  font-family: ShreeDev0714;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2.7px;
}
.txt-content {
  line-height: 26px;
  margin-bottom:20px;
}

// elements
.pic-rectangle-container {
  position: relative;
}
.pic-rectangle {
  display: block;
  &--sm {
    width: $sm-rectangle-width;
    height: $sm-rectangle-height;
  }
  &--md {
    width: $md-rectangle-width;
    height: $md-rectangle-height;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
    z-index: 1;
    @include mq('tablet-small') {
      width: $md-rectangle-width--phone;
      height: $md-rectangle-height--phone;
    }
  }
  &--lg {
    width: calc(100% - #{$md-rectangle-width-half});
    height: $lg-rectangle-height;
    @include mq('tablet-small') {
      width: calc(100% - #{$md-rectangle-width-half--phone});
      height: $lg-rectangle-height--phone;
    }
  }
  &--lg, &--md, &--sm {
    object-fit: cover;
  }
}
.line-lnk {
  display: flex;
  width: auto;
  align-items: center;
  font-weight: 400;
  color: $base-text-color;
  position: relative;
  padding-left: 18px;
  //transition: text-shadow #{$text-hover-trans};
  &::before {
    @include pseudo;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $base-text-color;
    left: 0;
    top:50%;
    margin-top: -5px;
    transition: transform #{$text-hover-trans};
  }
  &:hover {
    //transition: text-shadow #{$text-hover-trans};
    //text-shadow: 0px 0px 3px #{$base-text-color};
    &::before {
      transition: transform #{$text-hover-trans};
      transform: scale(1.5);
      box-shadow: 0px 0px 2px 1px #{$base-text-color};
    }
  }
}

.main-logo {
  font-family: Exo2;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.circle-el {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  line-height: 100px;
  box-shadow: none;
}

.navigation {
  &__lst {
    display: flex;
    &-line {
        list-style-type: none;
        &:nth-child(2) {
            margin:0 30px;
        }
        &:nth-child(3) {
            margin-right: 30px;
        }
        &-lnk {
          
        }
        
    }
  } 
}
.scroll-btn {
  @include mq('tablet') {
    display: none;
  }
}
.txt-block {
  max-width: $text-block-width;
  @include mq('tablet-wide') {
    max-width: calc(#{$text-block-width} * 2);
  }
}
.product-card {
  &[data-swiper-slide-index='1'] {
    transform: translateX(calc(#{-$md-rectangle-width} * 0.8));
    
  }
  &[data-swiper-slide-index='2'] {
    transform: translateX(calc(#{-$md-rectangle-width} * 1.6));
    
  }
  &[data-swiper-slide-index='3'] {
    transform: translateX(calc(#{-$md-rectangle-width} * 2.4));
    
  }
  &[data-swiper-slide-index='4'] {
    transform: translateX(calc(#{-$md-rectangle-width} * 3.2));
    
  }
  &[data-swiper-slide-index='5'] {
    transform: translateX(calc(#{-$md-rectangle-width} * 4));
    
  }
  &__lnk {
    width: $md-rectangle-width;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: none;
    margin-right: 0!important;
    &:hover {
      .product-card__lnk-pic {
        transition: $text-hover-trans;
        &:nth-child(1) {
          opacity: 0;
          position: absolute;
        }
        &:nth-child(2) {
          opacity: 1;
          position: relative;
        }
      }
      .product-card__lnk-ttl {
        transition: $text-hover-trans;
        color: $base-text-color;
        text-shadow: 0px 0px 3px #{$base-text-color};
      }
    }
    &-pic {
      width: 100%;
      height: $md-rectangle-height;
      object-fit: cover;
      transition: $text-hover-trans;
      &:nth-child(2) {
        opacity: 0;
        position: absolute;
      }
    }
    &-ttl {
      transition: $text-hover-trans;
      text-align: right; 
    }
  }
}

.info-card {
  width: $lg-rectangle-width;
  height: $lg-rectangle-height;
  position: absolute;
  right:20px;
  @include mq('tablet-small') {
    width: $lg-rectangle-width--phone;
  }
  &__content {
    height: 100%;
    width: 100%;
    background-color: $dark-color;
    padding: 40px;
  }
  .txt-content {
    width: 280px;
    height: 350px;
  } 
}

.blur-line {
  height: 0px;
  position: absolute;
  left: -100px;right: -100px;
  background-color: $dark-color;
  box-shadow: 0px 0px 65px 65px rgba(0,0,0,1);
  -webkit-appearance: none;
  border-radius: 1px;
  z-index: 2;
}


.cursor {
  position: fixed;
  border-radius: 50%;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5;
  opacity: .9;
  font-size: 0;
  animation: 0.7s forwards decrease, 0.1s linear 0s forwards removeText;
  &--dark, &--light {
    display: block;
    animation: 0.7s forwards increase, 0.1s linear 0.5s forwards addText;
  }
  &--dark {
    color: $base-text-color;
    background-color: $dark-color;
  }
  &--light {
    color: $dark-color;
    background-color: $base-text-color;
  }
  &--active {
    animation: 0.7s forwards decrease, 0.1s linear 0s forwards removeText;
  }
  &--inactive {
    animation: 0.7s forwards increase, 0.1s linear 0.5s forwards addText;
  }
  @keyframes decrease { 
    from {width: 100px; height: 100px;} 
    to { width: 20px; height: 20px;} 
  };
  @keyframes increase { 
    from {width: 20px; height: 20px;} 
    to { width: 100px; height: 100px;} 
  };
  @keyframes removeText { 
    from {font-size: $base-font-size;} 
    to { font-size: 0;} 
  };
  @keyframes addText { 
    from {font-size: 0;} 
    to { font-size: $base-font-size;} 
  };
  @include mq('tablet-wide') {
    display: none;
  }
} 

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: radial-gradient(circle, rgba(26,26,26,1) 10%, rgba(0,0,0,1) 25%);
	display: flex;
	justify-content: center;
  align-items: center;
  transition: opacity 1s cubic-bezier(1,-0.07,0,.81) 0s,visibility 1s cubic-bezier(1,-0.07,0,.81) 0s;
  &__el {
    width: 150px;
    height: 150px;
    margin: auto;
	  border-radius: 100%;
    position: relative;
    &-loader {
      position: relative;
      .main-logo {
        transform: scale(1.1);
        width: 100%;
        text-align: center;
        background: linear-gradient(180deg, #000000, #ffffff);
        background-size: 600% 600%;
        animation: loading 2s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         line-height: 150px;
         padding-left: 1rem;
         position: relative;
      }
      @keyframes loading {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
      }
    }
  }
  &--hidden {
    opacity: 0;
    visibility:hidden;
    .preloader__el {
      .main-logo {
        transition: 2s;
        transform: scale(3);
      }
    } 
    //animation: 4s fadeOut ease forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {background: radial-gradient(circle, rgba(26,26,26,1) 55%, rgba(0,0,0,1) 70%);}
    100% { 
      opacity: 0;
      visibility:hidden;
    }
  }
}
.page-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  transition: 1.5s;
  overflow: hidden;
  &__itm {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    width: 0.1px;height: 0.1px;
    transition: transform 1s cubic-bezier(0.5, 0, 0.75, 0);
    &:nth-child(1) {
      top:150px;
      left: 80px;
      transform: scale(2.2);
      box-shadow: 0px 0px 200px 300px rgba(5, 5, 5, 1);
    }
    &:nth-child(2) {
      top:155px;
      left: 75px;
      transform: scale(1.2);
      box-shadow: 0px 0px 100px 200px rgba(5, 5, 5, 1);
    }
    &:nth-child(3) {
      top:350px;
      right:500px;
      transform: scale(1.8);
      box-shadow: 0px 0px 200px 300px rgba(5, 5, 5, 1);
    }
    &:nth-child(4) {
      top:300px;
      right:450px;
      transform: scale(1.8);
      box-shadow: 0px 0px 200px 300px rgba(5, 5, 5, 1);
    }
    &:nth-child(5) {
      bottom:200px;
      left: 300px;
      transform: scale(1);
      box-shadow: 0px 0px 100px 500px rgba(5, 5, 5, 1);
    }
    &:nth-child(6) {
      bottom:202px;
      left: 305px;
      transform: scale(1);
      box-shadow: 0px 0px 100px 500px rgba(5, 5, 5, 1);
    }
    &:nth-child(7) {
      top:30px;
      right:500px;
      transform: scale(2.5);
      box-shadow: 0px 0px 300px 400px rgba(5, 5, 5, 1);
    }
    &:nth-child(8) {
      bottom:0;
      right:460px;
      transform: scale(2.5);
      box-shadow: 0px 0px 300px 400px rgba(5, 5, 5, 1);
    }
    &:nth-child(9) {
      top:50%;
      right:50%;
      transform: scale(1.1);
      box-shadow: 0px 0px 500px 400px rgba(5, 5, 5, 1);
    }
    &:nth-child(10) {
      top:55%;
      right:55%;
      transform: scale(1.1);
      box-shadow: 0px 0px 500px 400px rgba(5, 5, 5, 1);
    }
  }
}
.is-loaded {
  pointer-events: none;
  visibility: hidden;
  opacity: .3;
  .page-transition__itm {
    transition: .4s ease-in-out;
    transform: scale(0);
  }
}
