.products-lnks {
    margin: 0 auto;
    @include section-idents;
    height: $section-height;
    position: relative;
    &__texture {
        width: 400px;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: block;
        left: $left-itm-ident;
    }
    &__inner {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        overflow-x: visible;
    }
    &__ttl {
        transform: rotate(-90deg);
        display: flex;
        align-items: center;
        width: 140px;
        margin-left: -60px;
        mark {
            background-color: transparent;
            color: $base-text-color;
        }
        &-itm {
            width: 20px;
            height: 1px;
            background-color: $grey-color;
            margin:0 12px;
        }
    }
}