.concept {
  &__team {
    @include section-idents;

    &-inner {
      position: relative;
      padding-bottom: calc(#{$md-rectangle-width} + 50px);

      @include mq("tablet-wide") {
        padding-bottom: calc(#{$md-rectangle-width} + 80px);
      }

      @include mq("tablet-small") {
        padding-bottom: calc(#{$md-rectangle-width / 1.5});
      }
    }

    &-ttl {
      margin-bottom: 80px;
      font-family: "ShreeDev0714";
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 2.7px;
      color: $base-text-color;

      @include mq("tablet-small") {
        margin-bottom: 30px;
      }
    }

    &-brands {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      filter: invert(100%);

      &-grp {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: $dark-color;

        &-icn {
          width: $md-rectangle-width;
          height: calc(#{$md-rectangle-width} / 2);
          background-color: $dark-color;
          object-fit: cover;

          @include mq("tablet-wide") {
            width: calc(#{$md-rectangle-width} / 1.5);
            height: calc(#{$md-rectangle-width} / 2.5);
          }

          @include mq("tablet-small") {
            width: $md-rectangle-width;
            height: calc(#{$md-rectangle-width} / 2);
          }
        }
      }

      &--active {
        opacity: 1;
        filter: invert(0%);
        transition: ease-in-out #{$anim-trans-time};
      }

      @include mq("tablet-small") {
        flex-direction: column;
      }
    }

    &-backgrd {
      position: absolute;
      left: $left-itm-ident;
      bottom: 0;
      width: calc(100% + (#{$left-itm-ident} * -1) - 20px);
      height: calc(#{$md-rectangle-height} + 100px);
      object-fit: cover;

      @include mq("tablet-small") {
        left: 0;
        width: 100%;
        height: 250px;
      }
    }
  }
}
