.main {
  &__top {
    img {
      margin-top: -5%;
      height: 130%;
    }
  }

  &__top-itms-date {
    color: $grey-color;
  }

  .line-block {
    &__right {
      display: flex;
      width: calc(#{$xl-rectangle-width} + #{$md-rectangle-width-half});

      @include mq("tablet-wide") {
        margin: 0;
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  &__concept {
    &-left {
      @include transX(#{$md-rectangle-width});

      @include mq("tablet-wide") {
        @include transX(-#{$md-rectangle-width});
      }
    }

    &-right {
      justify-content: flex-end;
      margin-left: 20px;

      &-md {
        left: 0;
      }
    }
  }

  &__feature {
    @include section-idents;

    position: relative;
    width: 100%;
    height: $section-height;

    &-inner {
      position: relative;
      height: 100%;
    }
  }

  &__story {
    flex-direction: row-reverse;

    &-left {
      @include transX(-#{$md-rectangle-width});
    }

    &-right {
      margin-right: 20px;

      &-md {
        right: 0;
      }
    }

    @include mq("tablet-wide") {
      flex-direction: column;
    }
  }
}