.main {
    &__top-itms-date {
        color: $grey-color;
    }
    &__concept {
        &-left {
            @include transX(#{$md-rectangle-width});
        }
        &-right {
            &-md {
                left:-150px;
            }
        } 
    }
    &__feature {
        width: 100%;
        height: $section-height;
        position: relative;
        @include section-idents;
        &-inner {
            position: relative;
            height: 100%;
        }
    }
    &__story {
        flex-direction: row-reverse; 
        &-left {
            @include transX(-#{$md-rectangle-width});
        }
        &-right {
            &-md {
                right:-150px;
            }
        }
    }
}