.product {
  &__top {
    &-inner {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 30px;
      height: 40%;

      @include mq("tablet-small") {
        height: 50%;
      }
    }

    &-ttl {
      position: relative;
      top: auto;
      margin: 0;
      transform: none;

      &-outer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 60%;
      }

      @include mq("tablet") {
        left: 0;
      }
    }

    &-subttl {
      margin-bottom: 100px;
      color: $grey-color;

      b {
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 1.8px;
        color: $base-text-color;
      }
    }

    &-btn {
      color: $dark-color;
      background-color: $base-text-color;

      @include mq("tablet") {
        margin: 0 auto;
      }
    }
  }

  &__info {
    &-card {
      &-txt {
        font-size: 15px;
        letter-spacing: 1px;
        color: $grey-color;

        b {
          font-weight: 300;
          font-size: 16px;
          color: $base-text-color;
        }

        &-part {
          li {
            list-style-type: none;
          }

          &:nth-child(2) {
            margin: 30px 0;
          }

          &:nth-child(3) {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__gallery {
    @include section-idents;
  }
}