
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    user-select: none;
}



a {
	outline: none;
  text-decoration: none;
  color: $grey-color;
}

button {
	border: none;
	cursor: pointer;
}
textarea,
input[type="radio"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
border:none;
}
.stop-flickering {-webkit-transform:translate3d(0,0,0);}

html,body {
  width: 100%;
  background-color: $base-backgrd;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: $base-font-size;
  color: $base-text-color;
  overflow-x: hidden;
}


.page-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding:0 20px;
}

.section-main {
  width: 100%;
  height: calc(var(--vh, 1vh) * 95); // height for full display
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .blur-line {
    bottom: 0;
  }
  &__ttl {
      text-align: right;
      margin-bottom: 0;
      position: relative;
      z-index: 3;
  }
  &__inner {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 30px;
      
  }
  &__itms {
      width: 100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 3;
  }
}

.line-block {
  @include section-idents;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// pages styles
.concept, .story, .product {
  &__top {
    &-backgrd {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-inner {
        height: 100%;
        align-items: flex-end;
        flex-direction: row;
    }
    &-ttl {
        text-align: left;
        position: absolute;
        top:50%;
        transform: translate(0, -50%);
    }
  }
  &__info {
    position: relative;
    &-inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: calc(#{$lg-rectangle-height} - 100px);
        padding-bottom: 100px;
    }
    &-pic {
        position: relative;
        z-index: 1;
    }
    .info-card {
        z-index: 3;
        bottom:0;
    }
    &-ticker{
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 0;
        height: $sm-rectangle-height;
        white-space: nowrap;
        opacity: 10%;
        &-inner {
            display: inline-block;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-name: ticker;
            animation-name: ticker;
            -webkit-animation-duration: 40s;
            animation-duration: 40s;
            &:nth-child(2) {
                display: inline-block;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-name: ticker2;
                animation-name: ticker2;
                -webkit-animation-duration: 40s;
                animation-duration: 40s;
                -webkit-animation-delay: -20s;
                animation-delay: -20s;
               
            }
            
        }
        &-txt {
            display: inline-block;
            font-family: ShreeDev0714;
            letter-spacing: 22.5px;
            font-size: 300px;
            font-weight: 400;
            line-height: 375px;
            color: transparent;
            text-transform: uppercase;
            padding-right: 400px;
            color: #fff;
        }
        @-webkit-keyframes ticker {
            0% {
              -webkit-transform: translateX(100%);
              transform: translateX(100%);
            }
            100% {
              -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
            }
          }
          @keyframes ticker {
            0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
              }
              100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
              }
          }
          @-webkit-keyframes ticker2 {
            0% {
              -webkit-transform: translateX(0);
              transform: translateX(0);
            }
            100% {
              -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
            }
          }
          @keyframes ticker2 {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
              }
            100% {
                -webkit-transform: translateX(-200%);
                transform: translateX(-200%);
            }
          }
  
    }
  
  }
}
.concept, .story {
  &__about {
    width: 100%;
    height: $section-height;
    position: relative;
    @include section-idents;
    &-inner {
        position: relative;
        height: 100%;
    }
    .info-card__content {
        background-color: $base-text-color;
        color: $dark-color;
    }
    .swiper-pagination-bullet {
        opacity: 1;
        background-color: $grey-color;
    }
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50%;
        border:1px solid #{$grey-color};
    }
    .double-slider__itms-fraction  {
      color: $grey-color;
    }
  } 
} 
@import 'main';
@import 'concept';
@import 'story';
@import 'product';
@import 'products';